DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

CMS_SEED_ADMIN_EMAIL=adminEmailHere
CMS_SEED_ADMIN_PASSWORD=yourPasswordHere

SMTP_HOST=smtp.example.com
SMTP_USER=your-smtp-user
SMTP_EMAIL_PORT=465
SMTP_API_KEY=your-smtp-password-or-api-key
SMTP_FROM_EMAIL=form@example.com
SMTP_TARGET_EMAIL=recipient@example.com

TELEGRAM_TOKEN=123456:ABCDEF
TELEGRAM_GROUP_CHAT_ID=-1001234567890
